torch==2.0.1
numpy==1.26.4
torchvision==0.15.2
timm==0.9.8
PyYAML==5.3.1
Pillow
numpy
einops
scipy
tqdm
matplotlib
opencv-python
transformers
scikit-image
pandas
scikit-survival
lifelines
h5py
huggingface-hub
safetensors
addict